.form {
    display: flex;
    flex-direction: column;
}
.form label{

}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #D87F5B;
    border:none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    transition: all .2s;
}
.form button.active{
    background-color: #F19A77;
}
.form button:hover,
.form button:active {

}

@media(max-width:900px){
    .form{
        justify-content: center;
        flex-basis: 10%;
    }
    .form label{
        display: flex;
        justify-content: space-between;
    }

}

@media(max-width: 370px){
    .form button{
        margin-top: 1rem;
    }
}
