.food-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1.5rem 1rem;
}
.content{
    display: flex;
    flex-direction: column;
}
.food-item h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #E15B8C;
    font-size: 1.3rem;
}

@media(max-width:900px){
    .content{
        flex-basis: 90%;
    }
    .content p{
        max-width: 70%;
    }
}

@media(max-width:900px){
    .content p{
        max-width: 90%;
    }
}

@media(max-width: 370px){
    .food-item{
        flex-direction: column;
    }
    .content{
        margin-bottom: 2rem;
    }
}