.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #000;
    color: white;
    padding: 1.5rem 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    transition: all .2s;
}
.title{
    font-size: 20px;
}
.button:hover,
.button:active {
    background-color: #F28D66;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.badge {
    color:#000;
    background-color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    margin-left: 1.5rem;
    font-weight: bold;
    transition: all .2s;

}

.button:hover .badge,
.button:active .badge {
    background-color: #fff;
    color: #E58283;

}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@media(max-width: 900px){
    .button{
        padding: 1rem 1rem;
    }
    .button .title{
        display: none;
    }
    .icon{
        width: 2rem;
        height: 2rem;
    }
    .badge{
        margin-left: 0;
    }
}

@media(max-width: 600px){
    .button{
        padding: 0.8rem 1rem;
    }
    .icon{
        margin-right: 0.3rem;
    }
    .badge{
        padding: 0.1rem .6rem;
    }
}